li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

img{
    max-width: 200px;
}  

body{
    text-align: center;
    background-color: goldenrod;
}

.column{
    width: 49%;
    float: left;
}

textarea{
    max-width: auto;
}

.burger-entry{
    width:30%;
    height:150px;
}